package __PACKAGE__.domain.__entity__.exception;

import org.springframework.http.HttpStatus;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.ExceptionHandler;
import org.springframework.web.bind.annotation.RestControllerAdvice;

import __PACKAGE__.common.dto.ApiResponse;

// 每個 domain 一個 @RestControllerAdvice，basePackages 限定到自己的 controller package。
@RestControllerAdvice(basePackages = "__PACKAGE__.controller.__entity__")
public class __ENTITY__ExceptionHandler {

    @ExceptionHandler(__ENTITY__NotFoundException.class)
    public ResponseEntity<ApiResponse> handle__ENTITY__NotFound(__ENTITY__NotFoundException e) {
        ApiResponse apiResponse = new ApiResponse(false, e.getMessage());
        return ResponseEntity.status(HttpStatus.NOT_FOUND).body(apiResponse);
    }

    @ExceptionHandler(Exception.class)
    public ResponseEntity<ApiResponse> handleException(Exception e) {
        ApiResponse apiResponse = new ApiResponse(false, e.getMessage());
        return ResponseEntity.status(HttpStatus.INTERNAL_SERVER_ERROR).body(apiResponse);
    }
}
