package __PACKAGE__.domain.__entity__.exception;

public class __ENTITY__NotFoundException extends RuntimeException {
    public __ENTITY__NotFoundException(String message) {
        super(message);
    }
}
