{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 150,
    "tabWidth": 4,
    "useTabs": false,
    "htmlWhitespaceSensitivity": "ignore",
    "endOfLine": "lf"
}
